@import 'welcomeSection.css';
@import 'loginSection.css';
@import 'formSection.css';
@import 'matchSection.css';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.section {
    padding: 0 50px;
}

