@import 'welcomeSection.css';
@import 'loginSection.css';
@import 'formSection.css';
@import 'matchSection.css';
.button {
    height: 200px;
    width: 200px;
    margin: 10%;
    border-radius: 25px;
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0% 20%;
    font-family: 'Open Sans', sans-serif;
}

div {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
