body.login {
  background: url("../imgs/background_2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 0;
  margin: auto;
  text-align: center;

}
.login h1 {
  color: white;
  padding-bottom: 50px;
}

.login label {
  border-top: 250px;
  text-align: center;
  color: white;
}
