body.login {
  background: url("../imgs/background_2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 0;
  margin: auto;
  text-align: center;
}

.login h1 {
  color: white;
  padding-bottom: 50px;
}

.login label {
  border-top: 250px;
  text-align: center;
  color: white;
}

.btn-login a {
  display: inline-block;
}

.btn-login div {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.btn-login.left {
    max-width: 200px;
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: 200px;
    margin-top: 40px;
}

.btn-login.left div {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
    padding-left: 130px;
}

.btn-login.right div {
  padding-left: 70px;
}

.btn-login.right {
    float: right;
    margin-right: 200px;
    margin-top: 40px;
}
