.match {
    background-color: #FFA07A;
    background: url("../imgs/background_1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.pairs {
    font-size: 50px;
    color: #fff;
    padding: 0 0 75px 50px;
}
